body {
  margin: 0;
  background: #f0f0f0;
}

.header {
  position: sticky;
  top: 0;

  max-width: 390px;
  width: 100%;
  margin: 0 auto;          /* ← これを追加 */

  background: #f7f8fa;
  padding: 12px 16px;
  border-bottom: 1px solid #ddd;
  text-align: center;

  z-index: 10;
  box-sizing: border-box;
  display: none;
}

.header h1 {
  margin: 0;
  font-size: 29px;
}

.content {
  padding: 16px;
}

/* ===== 最終適用（上書き防止） ===== */

.app {
  max-width: 390px;
  min-height: 100vh;
  margin: 0 auto;
  background: #f7f8fa;
  padding: 0;
  display: none;
}

#qrArea {
  display: none;
  text-align: center;
  margin-top: 40px;

  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.25s ease, transform 0.25s ease;
}

#qrImage {
  width: 80%;
  max-width: 280px;
  height: auto;
  margin-bottom: 24px;
}

button {
  width: 100%;
  max-width: 520px;
  min-height: 72px;
  margin: 12px auto;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 20px;
  font-weight: bold;

  border-radius: 14px;
  border: 1px solid #333;

  background: #1e293b;
  border: 1px solid #334155;
  color: white;
}

button:active {
  transform: scale(0.97);
  box-shadow: 0 0 0 3px rgba(255,255,255,0.15) inset;
  opacity: 0.9; /* もしopacityも必要なら追加 */
}

.type-icon {
  display: block; 
}

.icons {
  display: flex !important;     /* ← これが最重要 */
  flex-direction: row;          /* 念のため */
  align-items: center;
  gap: 6px;
}

.back-btn {
  display: block;     /* flex を解除 */
  text-align: center;
}

#errorMessage {
  color: #d32f2f;          /* 文字色を赤に */
  font-weight: bold;   /* 太字にして目立たせる */
  margin-bottom: 12px;     /* 上に少し余白をつける */
  text-align: center;  /* 中央揃えにしたい場合 */

  min-height: 24px;        /* 高さ固定 */
  line-height: 24px;       /* 文字の行高さを固定 */
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.login-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
}

.login-card {
  width: 280px;
  min-height: 200px; /* エラー表示時も高さを安定させるため */
  background: linear-gradient(
    135deg,
    #0b1f33 0%,    /* 左端：濃紺 */
    #99bbcc 50%,   /* 中央：明るめの水色っぽい色 */
    #0b1f33 100%   /* 右端：濃紺 */
  );
  color: #fff;
  border-radius: 12px;
  padding: 52px 24px 24px 24px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);

  display: flex;
  flex-direction: column;
  gap: 12px;
}

.login-card label {
  font-size: 18px;
}

.login-card input,
.login-card button {
  height: 40px;
  font-size: 18px;
}

.login-card button {
  display: flex;
  justify-content: center;
  align-items: center;
}

#qrArea.show {
  opacity: 1;
  transform: translateY(0);
}